a{
    font-style: italic;
    font-size: 30px;
}
div{
    text-align: center;
}
.h51{
    color:blue;
}
.span1{
    color: gray;
}
.h52{
    color: blue;
}
.span2{
    color: gray;
}
h3{
    text-align: center;
}
.h54{
    color: rgb(201, 9, 9);
}
.h53{
    color: blue;
}
.span3{
    color: gray;
}
.h55{
    color: blue;
}
.span5{
    color: gray;
}
.h56{
    color: red;
}
.h57{
    color: gray;
}
.h58{
    color: blue;
}
.span8{
    color: gray;
}
.h59{
    color: blue;
}
.span9{
    color: gray;
}